@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Rubik:wght@400;500;600&display=swap');


:root {
  --text-quicksan: 'Quicksand', sans-serif;
  --text-rubik: 'Rubik', sans-serif;
  --rich-black: #0c0c19;
  --white: #ffffff;
  --blue: #1e90ff;
  --orange: #F76B1C;
}
html {
  box-sizing: border-box;
    font-size: 16px;
}

body {
  font-family: var(--text-rubik);
  font-size: 1.2rem;
  color: var(--rich-black);
  scroll-behavior: smooth;
  position: relative;
  background-color: #fcfaf5
}
* , *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--text-quicksan);
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  font-family: var(--text-quicksan);
  font-weight: 300;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.text-end{
  text-align: end;
}
.text-start{
  text-align: start;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.container-header {
  margin: 0 auto;
}

.navigation {
  position: sticky;
  top: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  border-radius: 1rem;
  z-index: 30;
}
.nav-child{
  flex: 1 1 0%;
}
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
}

.navigation-list li:hover a {
  transition: color 0.2s linear;
  color: var(--orange);
  cursor: pointer;
  border-bottom: var(--orange) 1px solid;
}

.contact{
  background-color: var(--rich-black);
  color: var(--white);
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: 500;
  width: min-content;
  text-align: end;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

.logo-text {
  font-family:var(--text-rubik);
  font-size: 1.75rem;
}
.main-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.col-2{
  grid-column: span 2;
}

.col-4{
  grid-column: span 4;
}

.card{
  display: flex;
  flex-direction: column;
  border-radius:1.2rem;
  padding: 1.25rem 1rem;
  background-color: var(--white);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.avatar{
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  overflow: hidden;
  border-radius: 999px;
}
.avatar img {
background-color: #FAD961;
  background-image: linear-gradient(180deg, #FAD961 0%, #F76B1C 100%);
  object-fit: cover;
}
.ramonMartinez {
  font-size: 2rem;
}

.card > h2 {
  display: inline-flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
  color: var(--orange);
}
.card > p {
  font-size: 1rem;
  margin-top: 0.75rem;
  font-weight: 300;
  color: var(--rich-black);
  font-weight: 500;
  flex: 1 1 0%;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.card button.view{
  align-self: end;
}

button.view a{
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.view a:hover{
  color: var(--orange);
  cursor: pointer;
  transition: color 0.2s linear;
}


.view:hover{
  color: var(--orange);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.stack div {
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
}

.education{
  margin-top: 1rem;
}
.education > ul li {
  display: flex;
  flex-direction: column;
  gap: 0.25Arem;
  margin-top: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 75%;
  margin: 0 auto;
}



.section-contact > h2 {
  justify-content: center;
}


input[type="text"]{
  border-radius: 0.25rem;
}

.footer-container{ 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 75%;
  margin: 0.75rem auto;
}

.footer-links {
 display: flex; 
  gap: 1rem;
}

